
/* Contact Form 7 Styles */
div.wpcf7-validation-errors, 
div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
    background: orange;
    padding: 10px;
	font-weight: bold;
}
div.wpcf7-mail-sent-ng, 
div.wpcf7-aborted {
    border: 2px solid #ff0000;
    background: red;
    padding: 10px;
    font-weight: bold;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background: green;
    padding: 10px;
    font-weight: bold;
}
