.iss-navbar {
  background: #3b4449;
  height: 100px;
  transition: 0.4s ease-in-out;
  padding-top: 0px;
  border-bottom: 2px solid #81db6d;
}
.int-home {
  height: 520px;
}
.text-shadow {
  text-shadow: 2px 2px 0px #222;
}
.video-hero {
  height: 520px;
  width: 100%;
  background-image: url("../../../../uploads/iss-video-poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0, 112, 245, 0.3);
    width: 100%;
    height: 620px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  @include breakpoint(sm) {
    height: 520px;
    background-color: #222;
    width: 100%;
    display: block;
    overflow: hidden;
    &:before {
      content: "";
      background: rgba(0, 112, 245, 0.3);
      width: 100%;
      height: 620px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}
.video-text {
  position: relative;
  height: 400px;
  margin-top: -400px;
  color: #fff;
  display: block;
  z-index: 2;
  @include breakpoint(sm) {
    position: relative;
    color: #fff;
    padding-top: 5rem;
    padding-left: 1.4rem;
    display: block;
    height: 520px;
    margin-top: -520px;
    z-index: 2;
  }
}
#video1 {
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -1;
}
.home-about {
  min-height: 280px;
  background: #81db6d;
}
.home-highlight {
  min-height: 100px;
  background: #888;
}
.home-process {
  min-height: 700px;
  background: #2e5266;
  margin-bottom: -15px;
  border-top: 2px solid #81db6d;
}
.home-showcase {
  min-height: 600px;
  background: #101010;
}
.call-to-action {
  min-height: 300px;
  background: #303030;
  border-top: 2px solid #81db6d;
}
.footer {
  background: #202020;
  min-height: 150px;
}
.sub-footer {
  background: #3b4449;
  min-height: 2em;
}
#carouselHero .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}
#carouselHero .carousel-item:before {
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
