.iss-navbar {
	background: #3b4449;
	height: 150px;
	transition: 0.4s ease-in-out;
	padding-top: 10px;
}

.shrink {
	height: 80px;
	transition: 0.4s ease-in-out;
	font-size: 0.75em;
}
.iss-nav-logo {
	width: 289px;
	transition: 0.4s ease-in-out;
}
.shrink .iss-nav-logo {
	width: 150px;
	transition: 0.4s ease-in-out;
}
.hero-area {
	min-height: 700px;
	background: #222;
	background-image: url('../../../../uploads/2019/10/technology-1575496_1920.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.home-about {
	min-height: 280px;
	background: #81db6d;
}
.home-highlight {
	min-height: 700px;
	background: #fff;
}
.home-process {
	min-height: 700px;
	background: #ccc;
	margin-bottom: -15px;
}
.home-showcase {
	min-height: 600px;
	background: #222;
}
.call-to-action {
	min-height: 300px;
	background: #2e5266;
}
